/* Full page center */
.login-container {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Login box */
.login-box {
  background: gainsboro;
  padding: 30px;
  width: 350px;
  border-radius: 10px;
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.3);
}


/* Input fields */
.input-group {
  margin-bottom: 15px;
}

.input-group label {
  display: block;
  margin-bottom: 5px;
  font-size: 14px;
}

.input-group input {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 10px;
}

/* Options */
.options {
  display: flex;
  justify-content: space-between;
  font-size: 13px;
  margin-bottom: 15px;
}

.forgot {
  color: red;
  cursor: pointer;
}

/* Button */
.login-btn {
  width: 100%;
  padding: 10px;
  border: none;
  background: #435d91;
  color: white;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
}

.login-btn:hover {
  background: #1A3263;
}

/* Signup */
.signup-text {
  text-align: center;
  margin-top: 15px;
  font-size: 14px;
}

.signup-text span {
  color: #007bff;
  cursor: pointer;
}